#clearButton{
    color: red;
}

#graphButton{
	color: blue;
}

#mainLabel{
	font-family: Gill Sans;
	color: #1a011a;
	background-color: #D8D8D8;
	font-size: 14px;
	font-weight: 300;
	border-color: red;
	border-radius: 5px;
	border: 1px solid #B2AEAE;
}